In [1]:
import pandas as pd

In [2]:
clicksFullDf = pd.read_parquet("../../allData/reranking/clicksFullDf.parquet")

In [3]:
clicksFullDf

,session,clicks_input,carts_input,orders_input,clicks_answer,action_aid,ground_truth
0,11470443,"[824805, 1085779, 1121038, 1330445, 1496876, 1...","[127705, 1146807]",None,1441681,1838655,False
1,11470443,"[824805, 1085779, 1121038, 1330445, 1496876, 1...","[127705, 1146807]",None,1441681,1779217,False
2,11470443,"[824805, 1085779, 1121038, 1330445, 1496876, 1...","[127705, 1146807]",None,1441681,1695332,False
3,11470443,"[824805, 1085779, 1121038, 1330445, 1496876, 1...","[127705, 1146807]",None,1441681,1538118,False
4,11470443,"[824805, 1085779, 1121038, 1330445, 1496876, 1...","[127705, 1146807]",None,1441681,1496876,False
...,...,...,...,...,...,...,...
395,11470446,"[371324, 942464]","[371324, 942464]",None,1750645,1400917,False
396,11470446,"[371324, 942464]","[371324, 942464]",None,1750645,1450052,False
397,11470446,"[371324, 942464]","[371324, 942464]",None,1750645,1677933,False
398,11470446,"[371324, 942464]","[371324, 942464]",None,1750645,1710514,False
399,11470446,"[371324, 942464]","[371324, 942464]",None,1750645,1616180,False

In [2]:
orders_features = pd.read_pickle("../../allData/features/orderOutputFeatures.pkl")

In [3]:
orders_features.head()

,session,aids,feature_tuple
0,12899779,"[59625, 469285, 499621, 830629, 737445, 180486...","[(True, 0.2311444133449163, 3.0, 0, 1, 1, 13.8..."
1,12899780,"[1142000, 736515, 973453, 582732, 487136, 1502...","[(True, 1.2311444133449163, 5.999999903018363,..."
2,12899781,"[199008, 918667, 643158, 194067, 57315, 107435...","[(True, 4.452941078939005, 20.999422164291826,..."
3,12899782,"[834354, 595994, 779477, 740494, 889671, 98739...","[(True, 3.3118829020272957, 11.999800576525711..."
4,12899783,"[1817895, 300127, 607638, 1754419, 1216820, 17...","[(True, 1.0, 2.999801582431112, 0, 11, 9, 59.9..."

In [4]:
exploded_df = orders_features.set_index(['session']).apply(pd.Series.explode).reset_index()

In [5]:
exploded_df

           session     aids                                      feature_tuple
0         12899779    59625  (True, 0.2311444133449163, 3.0, 0, 1, 1, 13.86...
1         12899779   469285  (False, 0.2311444133449163, 3.0, 0, 1, 1, 1.38...
2         12899779   499621  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.49...
3         12899779   830629  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.39...
4         12899779   737445  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.20...
...            ...      ...                                                ...
48321843  14571581  1782504  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.15...
48321844  14571581  1748710  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.15...
48321845  14571581   466097  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.15...
48321846  14571581   757139  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.14...
48321847  14571581   978060  (False, 0.2311444133449163, 3.0, 0, 1, 1, 0.14...

[48321848 rows x 3 columns]

In [18]:
exploded_df["prev_int"] = exploded_df["feature_tuple"].apply(lambda x: x[0])

In [19]:
exploded_df

,session,aids,feature_tuple,prev_int
0,12899779,59625,"(True, 0.2311444133449163, 3.0, 0, 1, 1, 13.86...",True
1,12899779,469285,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 1.38...",False
2,12899779,499621,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.49...",False
3,12899779,830629,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.39...",False
4,12899779,737445,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.20...",False
...,...,...,...,...
48321843,14571581,1782504,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.15...",False
48321844,14571581,1748710,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.15...",False
48321845,14571581,466097,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.15...",False
48321846,14571581,757139,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.14...",False
48321847,14571581,978060,"(False, 0.2311444133449163, 3.0, 0, 1, 1, 0.14...",False

In [15]:

import numpy as np
import pandas as pd
 
data = pd.DataFrame({'approval': [10, 20, 30, 40, 50],
                     'temperature': [(18.18, 2.27, 3.23),
                                     (36.43, 34.24, 6.6),
                                     (5.25, 6.16, 7.7),
                                     (7.37, 28.8, 8.9),
                                     (12, 23, 3)]})
 
res = data['temperature'].apply(lambda x: x[2]).values

In [16]:
data

   approval          temperature
0        10  (18.18, 2.27, 3.23)
1        20  (36.43, 34.24, 6.6)
2        30    (5.25, 6.16, 7.7)
3        40    (7.37, 28.8, 8.9)
4        50          (12, 23, 3)

In [17]:
res

array([3.23, 6.6 , 7.7 , 8.9 , 3.  ])